<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.mapper.PrintInfoMapper">

	<select id="getPrintInfoByBookInfoId" resultMap="PrintInfoResultMap">
		select
		<include refid="PrintInfoColumns"></include>
		from t_print_info
		where book_info_id = #{bookInfoId}
	</select>

	<resultMap type="PrintInfo" id="PrintInfoResultMap" autoMapping="true">
	<association property="printer" column="printer_id" select="com.ss.mapper.printerMapper.getPrinterByPrinterId" />
		</resultMap>

	<sql id="PrintInfoColumns">print_id,book_info_Id,printer_id,print_size,print_date,print_num,print_batch</sql>
</mapper>























