<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.mapper.PrinterMapper">

	<select id="getPrinterByPrinterId" resultMap="PrinterResultMap">
		select
		<include refid="PrinterColumns"></include>
		from t_printer
		where printer_id = #{printerId}
	</select>

	<resultMap type="Printer" id="PrinterResultMap" autoMapping="true">
		</resultMap>

	<sql id="PrinterColumns">printer_id,printer_name,printer_address,printer_phone,printerzip,printer_legal_person,contact_person,contact_cell_phone,fax_num</sql>
</mapper>























