<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.mapper.PublishMapper">

	<select id="getPublishByPublishId" resultMap="publishResultMap">
		select
		<include refid="publishColumns"></include>
		from t_publish
		where publish_id = #{publishId}
	</select>

	<resultMap type="publish" id="publishResultMap">
		<id property="publishId" column="publish_id" />
		<result property="publishName" column="publish_name" />
		<result property="publishDate" column="publish_date" />
		<result property="publishNum" column="publish_num" />
		</resultMap>

	<sql id="publishColumns">publish_id,publish_name,publish_date,publish_num</sql>
</mapper>























